/* ==========================================*/
/* Movil */
@media (max-width: 767px) {


    html {
        scroll-behavior: smooth;
    }

    .logoDM {
        margin-top: -100px;
        height: 1400px;
        margin-left: -500px;
        animation: floating 3s ease-in-out infinite;
        /* Añade la animación de flotación */
    }

    /*======================================================================================*/
    /*BOTONES*/
    /* Botón Home */
    .scroll-btn-home {
        background-color: #ffffff;
        /* Color específico para el botón de Home */
        bottom: 20px;
        /* Posición desde el fondo */
        right: 20px;
        /* Posición desde la derecha */
        margin-left: -450px;
        margin-top: 1100px;
        width: 200px;
        /* Ancho del botón */
        height: 200px;
        /* Alto del botón, igual al ancho para hacerlo circular */
        border-radius: 50%;
        /* Hace el botón circular */
        border: none;
        /* Sin borde */
        padding: 10px 20px;
        animation: bounce 2s ease infinite;
        /* Aplica la animación */
        z-index: 3000;
        cursor: pointer;
    }


    /* Botón Local */
    .scroll-btn-local {
        background-color: #ffffff;
        /* Color específico para el botón de Home */
        bottom: 20px;
        /* Posición desde el fondo */
        right: 20px;
        /* Posición desde la derecha */
        margin-left: -450px;
        margin-top: 1100px;
        width: 200px;
        /* Ancho del botón */
        height: 200px;
        /* Alto del botón, igual al ancho para hacerlo circular */
        border-radius: 50%;
        /* Hace el botón circular */
        border: none;
        /* Sin borde */
        padding: 10px 20px;
        animation: bounce 2s ease infinite;
        /* Aplica la animación */
        z-index: 3000;
        cursor: pointer;
    }

    /* Botón Delivery */
    .scroll-btn-delivery {
        background-color: #ffffff;
        /* Color específico para el botón de Home */
        bottom: 20px;
        /* Posición desde el fondo */
        right: 20px;
        /* Posición desde la derecha */
        margin-left: -450px;
        margin-top: 200px;
        width: 200px;
        /* Ancho del botón */
        height: 200px;
        /* Alto del botón, igual al ancho para hacerlo circular */
        border-radius: 50%;
        /* Hace el botón circular */
        border: none;
        /* Sin borde */
        padding: 10px 20px;
        animation: bounce 2s ease infinite;
        /* Aplica la animación */
        z-index: 3000;
        cursor: pointer;
    }


    /* Botón Contacto */
    .scroll-btn-contacto {
        background-color: #ffffff;
        /* Color específico para el botón de Home */
        bottom: 20px;
        /* Posición desde el fondo */
        right: 20px;
        /* Posición desde la derecha */
        margin-left: -450px;
        margin-top: 1400px;
        width: 200px;
        /* Ancho del botón */
        height: 200px;
        /* Alto del botón, igual al ancho para hacerlo circular */
        border-radius: 50%;
        /* Hace el botón circular */
        border: none;
        /* Sin borde */
        padding: 10px 20px;
        animation: bounce 2s ease infinite;
        /* Aplica la animación */
        z-index: 3000;
        cursor: pointer;
    }

    /* Cambia el color de fondo al pasar el mouse sobre cada botón */
    .scroll-btn-home:hover {
        background-color: #706a6a;
    }

    .scroll-btn-local:hover {
        background-color: #706a6a;
    }

    .scroll-btn-delivery:hover {
        background-color: #706a6a;
    }

    .scroll-btn-contacto:hover {
        background-color: #706a6a;
    }

    .scroll-btn img {
        width: 100px;
        /* Ajusta el tamaño de la imagen al 80% del botón */
        height: 100px;
        /* Ajusta la altura de la imagen al 80% del botón */
        margin-left: -10px;
    }

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-20px);
            /* Mueve el botón hacia arriba */
        }

        60% {
            transform: translateY(-10px);
            /* Mueve el botón hacia arriba, pero menos */
        }
    }

    /*======================================================================================*/
    /*BOTONES*/
    /*======================================================================================*/

    /* Clase para desactivar la animación inicialmente */
    .no-animation {
        animation: none !important;
    }

    .pizza-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin-top: 800px;
        margin-left: -450px;
        height: auto;
        z-index: 3500;
        /* Asegura que esté encima de todo */
    }

    .pizza {
        width: 1000px;
        /* Ajusta la pizza al ancho del contenedor */
        max-width: 3000px;
        /* Asegura un tamaño máximo para la imagen */
        height: auto;
        /* Mantiene la proporción de la imagen */
        transition: transform 0.5s ease-in-out;
        /* Transición suave para la imagen */
        animation: floating 3s ease-in-out infinite;
        /* Animación de flotación continua */
    }

    @keyframes floating {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-15px);
            /* Mueve la pizza hacia arriba */
        }

        100% {
            transform: translateY(0);
            /* Vuelve a la posición original */
        }
    }

    /*======================================================================================*/
    /*BARRA NAVEGACION*/
    .navbar {
        background-color: rgba(255, 255, 255, 0.014);
        /* Fondo semi-transparente */
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        z-index: 3000;
        padding: 20px;
        backdrop-filter: blur(10px);
        /* Aplica el desenfoque */
        -webkit-backdrop-filter: blur(10px);
        /* Para compatibilidad con Safari */
    }

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .navbar ul li {
        display: inline;
        margin-right: 20px;
    }

    .navbar ul li a {
        color: white;
        text-decoration: none;
        font-size: 65px;
    }

    .navbar ul li a:hover {
        color: orange;
    }

    /*======================================================================================*/
    /*BARRA NAVEGACION*/

    /*======================================================================================*/
    /*SECCION FONDO*/
    .section {
        position: static;
        width: 2000px;
        top: 10px;
        height: 3100px;
        /*padding: 20px;*/
        background: url("../img/background.jpg") no-repeat center center;
        /* Fondo para todas las secciones */
        background-size: cover;
        /* Asegura que la imagen cubra todo el área */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*======================================================================================*/
    /*SECCION*/


    /*======================================================================================*/
    /*SECCION HOME */
    /* Contenedor de especias */
    .spices-container {
        position: fixed;
        top: 150px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        /* Espacio entre las imágenes */
        z-index: 3000;
        /* Asegura que esté encima de otros elementos */
    }

    /* Animación de aparición en diagonal */
    @keyframes fall {
        0% {
            opacity: 0;
            transform: translate(-200px, -200px) rotate(0deg);
        }

        100% {
            opacity: 1;
            transform: translate(50px, 10px) rotate(30deg);
        }
    }

    /* Animación de desaparición */
    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translate(50px, 10px) rotate(30deg);
        }

        100% {
            opacity: 0;
            transform: translate(-200px, -200px) rotate(0deg);
        }
    }

    .spice {
        width: 210px;
        opacity: 1;
        /* Inicialmente visibles */
        transform: translate(50px, 10px) rotate(30deg);
        /* Posición final de la animación de entrada */
        animation: fall 1s ease-in-out forwards;
        /* Animación de aparición */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    /* Clase para ocultar con animación */
    .spice.hidden {
        animation: fadeOut 0.5s ease-in-out forwards;
        /* Animación de desaparición */
    }

    /*======================================================================================*/
    /* SECCION LOCAL */
    .local {
        position: relative;
        padding: 20px;
        text-align: center;
    }

    .local-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin-top: 100px;
        margin-left: -600px;
    }

    .local-images-top,
    .local-images-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 120px;
        /* Espacio entre las filas de imágenes */
        margin-left: 100px;
        z-index: 3000;
    }

    .local-images img {
        width: 380px;
        /* Ajusta el tamaño de las imágenes según sea necesario */
        height: auto;
        border: 10px solid white;
        /* Bordes de la imagen */
        border-radius: 10px;
        /* Bordes redondeados para simular fotos instantáneas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Sombra de la imagen */
        object-fit: cover;
        /* Asegura que la imagen cubra el área del contenedor sin distorsionarse */
        transition: transform 0.3s ease-in-out;
        animation: scaleUpDown 4s ease-in-out infinite;
        /* Añade la animación de escalado */
    }

    /* Definición de la animación */
    @keyframes scaleUpDown {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
    }

    /* Delay específico para cada imagen */
    .local-images img:nth-child(1) {
        animation-delay: 0s;
    }

    .local-images img:nth-child(2) {
        animation-delay: 1s;
    }

    .local-images img:nth-child(3) {
        animation-delay: 2s;
    }

    .local-images img:nth-child(4) {
        animation-delay: 3s;
    }

    .text1local {
        color: white;
        margin-top: 100px;
        /* Espacio superior para el texto */
        margin-left: -500px;
        z-index: 3000;
        font-size: 100px;
    }

    .map-container {
        margin-top: 20px;
        /* Espacio superior para el ícono */
        z-index: 3000;
    }

    .map-icon {
        width: 100px;
        /* Tamaño del ícono */
        height: 100px;
        margin-left: -300px;
        border-radius: 5px;
        /* Bordes redondeados opcional */
        transition: transform 0.3s ease;
        /* Transición suave */
        animation: floating 3s ease-in-out infinite;
        /* Añade la animación de flotación */
    }

    .map-icon:hover {
        transform: scale(1.1);
        /* Aumenta el tamaño al pasar el ratón */
    }

    /* Animación de flotación del ícono */
    @keyframes floating {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    /* Imagen del tenedor inicial oculto */
    .tenedor {
        opacity: 0;
        /* Oculta la imagen inicialmente */
        position: fixed;
        top: 10px;
        left: -210px;
        /* Inicia fuera de la pantalla a la izquierda */
        z-index: 3000;
        transform: translate(-300px, 300px) rotate(-45deg);
        /* Inicia fuera de la pantalla con rotación */
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        /* Transición suave para la animación */
    }

    .tenedor-serrucho {
        width: 600px;
        transform: rotate(-190deg);
        /* Mantén la rotación diagonal */
    }


    /* Animación de entrada en diagonal de izquierda a derecha */
    @keyframes enter-diagonal-local {
        0% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Inicia desde fuera de la pantalla a la izquierda */
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Termina en su posición final, en diagonal */
        }
    }

    /* Animación de salida en diagonal hacia abajo */
    @keyframes exit-diagonal-local {
        0% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Inicia desde su posición final */
        }

        100% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Termina fuera de la pantalla en diagonal */
        }
    }

    /* Clase para mostrar el tenedor con animación de entrada */
    .show-tenedor {
        animation: enter-diagonal-local 1s ease-in-out forwards;
    }

    /* Clase para ocultar el tenedor con animación de salida */
    .hide-tenedor {
        animation: exit-diagonal-local 1s ease-in-out forwards;
    }

    /*======================================================================================*/
    /*SECCION LOCAL*/


    /*======================================================================================*/
    /*SECCION DELIVERY*/
    .text1delivery {
        color: white;
        margin-top: 100px;
        font-size: 100px;
        margin-left: -400px;
    }

    .cajapizza {
        width: 2200px;
        max-width: 150%;
        /* Limita el ancho al 100% del contenedor */
        height: auto;
        /* Ajusta la altura proporcionalmente */
        margin-top: 150px;
        margin-left: -450px;
        animation: floating 3s ease-in-out infinite;
        /* Añade la animación de flotación */
    }

    .delivery-message {
        margin-top: 100px;
        margin-left: -500px;
        background-color: rgba(0, 0, 0, 0.7);
        /* Fondo semi-transparente */
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        z-index: 500;
        /* Asegura que el mensaje esté encima de otros elementos */
        opacity: 0;
        /* Oculto por defecto */
        visibility: hidden;
        /* Asegura que el mensaje no sea interactivo cuando está oculto */
        transition: opacity 0.5s ease, visibility 0.5s ease;
        /* Transiciones suaves */
        z-index: 3000;
    }

    .delivery-message.visible {
        opacity: 1;
        /* Totalmente visible */
        visibility: visible;
        /* Asegura que el mensaje sea interactivo cuando está visible */
    }


    .delivery {
        opacity: 0;
        position: fixed;
        top: 50px;
        left: -50px;
        /* Inicia fuera de la pantalla a la izquierda */
        z-index: 3000;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        /* Transiciones suaves */
    }

    .delivery-moto {
        width: 450px;
        transform: rotate(-300deg);
        /* Mantén la rotación diagonal */
    }

    /* Animación de entrada en diagonal de izquierda a derecha */
    @keyframes enter-diagonal-deli {
        0% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Inicia desde fuera de la pantalla a la izquierda */
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Termina en su posición final */
        }
    }

    /* Animación de salida en diagonal hacia abajo */
    @keyframes exit-diagonal-deli {
        0% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Inicia desde su posición final */
        }

        100% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Termina fuera de la pantalla en diagonal */
        }
    }

    /* Clase para mostrar el elemento con animación de entrada */
    .show-delivery {
        animation: enter-diagonal-deli 1s ease-in-out forwards;
    }

    /* Clase para ocultar el elemento con animación de salida */
    .hide-delivery {
        animation: exit-diagonal-deli 1s ease-in-out forwards;
    }

    /*======================================================================================*/
    /*SECCION DELIVEY*/


    /*======================================================================================*/
    /*SECCION CONTACTO*/
    .text1contacto {
        color: white;
        margin-top: 100px;
        font-size: 120px;
        margin-left: -500px;
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-left: -500px;
        gap: 20px;
        z-index: 3000;
    }

    .facebook,
    .instagram,
    .whatsapp {
        width: auto;
        animation: floating 3s ease-in-out infinite;
        /* Añade la animación de flotación */
    }

    .facebook {
        width: 300px;
    }

    .instagram {
        width: 220px;
    }

    .whatsapp {
        width: 380px;
    }

    /* Animación de flotación */
    @keyframes floating {

        0%,
        100% {
            transform: translateY(0) scale(1);
            /* Asegura que el scale sea el predeterminado */
        }

        50% {
            transform: translateY(-10px) scale(1);
            /* Mantén el scale en 1 durante la animación */
        }
    }

    .llamando {
        opacity: 0;
        /* Oculta la imagen inicialmente */
        position: fixed;
        top: 90px;
        left: -130px;
        /* Inicia fuera de la pantalla a la izquierda */
        z-index: 3000;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        /* Transiciones suaves */
    }

    /* Estilos para la imagen dentro de .llamando */
    .llamando-persona {
        width: 490px;
        transform: rotate(-280deg);
        /* Mantén la rotación diagonal */
    }

    /* Animación de entrada en diagonal de izquierda a derecha */
    @keyframes enter-diagonal-persona {
        0% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Inicia desde fuera de la pantalla a la izquierda */
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Termina en su posición final */
        }
    }

    /* Animación de salida en diagonal hacia abajo */
    @keyframes exit-diagonal-persona {
        0% {
            opacity: 1;
            transform: translate(0px, 0px) rotate(-45deg);
            /* Inicia desde su posición final */
        }

        100% {
            opacity: 0;
            transform: translate(-300px, 300px) rotate(-45deg);
            /* Termina fuera de la pantalla en diagonal */
        }
    }

    /* Clase para mostrar el elemento con animación de entrada */
    .show-llamando {
        animation: enter-diagonal-persona 1s ease-in-out forwards;
    }

    /* Clase para ocultar el elemento con animación de salida */
    .hide-llamando {
        animation: exit-diagonal-persona 1s ease-in-out forwards;
    }

    /*======================================================================================*/
    /*SECCION CONTACTO*/

    /*======================================================================================*/
    /*MANTELES*/
    /* Manteles en las esquinas */
    .mantel {
        position: fixed;
        width: 1px;
        /* Ajusta el tamaño del mantel según sea necesario */
        height: 1px;
        background-color: red;
        /* Color rojo para los manteles */
        z-index: 2000;
        /* Asegura que estén por encima de otros elementos */
        opacity: 1;
        /* Manteles semi-transparentes */
    }

    /*======================================================================================*/


}