body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Suaviza el desplazamiento en todo el documento */
}

.logoDM {
    margin-top: 10px;
    height: 400px;
}

/* Clase para desactivar la animación inicialmente */
.no-animation {
    animation: none !important;
}

.pizza-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 250px;
    margin-left: -10px;
    height: auto;
    z-index: 3500; /* Asegura que esté encima de todo */
}

.pizza {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; /* Transición suave para la imagen */
    animation: floating 3s ease-in-out infinite; /* Animación de flotación continua */
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Mueve la pizza hacia arriba */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posición original */
    }
}

/*======================================================================================*/
/*BARRA NAVEGACION*/
.navbar {
    background-color: rgba(255, 255, 255, 0.014); /* Fondo semi-transparente */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    padding: 20px;
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: orange;
}
/*======================================================================================*/
/*BARRA NAVEGACION*/

/*======================================================================================*/
/*SECCION*/
.section {
    position: relative;
    width: 100%;
    top: 10px;
    height: 100vh;
    /*padding: 20px;*/
    background: url("/img/background.jpg") no-repeat center center; /* Fondo para todas las secciones */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*======================================================================================*/
/*SECCION*/

/*======================================================================================*/
/*BOTON SCROLL*/
.scroll-btn {
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón, igual al ancho para hacerlo circular */
    border-radius: 50%; /* Hace el botón circular */
    margin-top: 0px;
    border: none; /* Sin borde */
    bottom: 0px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    animation: bounce 2s ease infinite; /* Aplica la animación */
    z-index: 3000;
}

.scroll-btn:hover {
    background-color: #575757;
}

.scroll-btn img {
    width: 40px; /* Ajusta el tamaño de la imagen al 80% del botón */
    height: 40px; /* Ajusta la altura de la imagen al 80% del botón */
    margin-left: -10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px); /* Mueve el botón hacia arriba */
    }
    60% {
        transform: translateY(-10px); /* Mueve el botón hacia arriba, pero menos */
    }
}
/*======================================================================================*/
/*BOTON SCROLL*/

/*======================================================================================*/
/*SECCION HOME */
/* Contenedor de especias */
.spices-container {
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Espacio entre las imágenes */
    z-index: 3000; /* Asegura que esté encima de otros elementos */
}
/* Animación de aparición en diagonal */
@keyframes fall {
    0% {
        opacity: 0;
        transform: translate(-200px, -200px) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(50px, 50px) rotate(45deg);
    }
}

/* Animación de desaparición */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(50px, 50px) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(-200px, -200px) rotate(0deg);
    }
}

.spice {
    width: 210px;
    opacity: 0;
    transform: translate(-200px, -200px) rotate(0deg);
    animation: fall 1s ease-in-out forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Clase para ocultar con animación */
.spice.hidden {
    animation: fadeOut 0.5s ease-in-out forwards;
}

/* Configuración individual para cada especia en diagonal */
.oregano {
    animation-delay: 0s; /* Retraso para la animación del orégano */
}

.aji {
    animation-delay: 1s; /* Retraso para la animación del ají molido */
}

/*======================================================================================*/
/*SECCION LOCAL*/
.local-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    position: relative;
    z-index: 3000;
}

.local-images img {
    width: 200px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border: 10px solid white; /* Bordes de la imagen */
    border-radius: 10px; /* Bordes redondeados para simular fotos instantáneas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor sin distorsionarse */
    transition: transform 0.3s ease-in-out; /* Transición para efectos de hover */
}

.local-images img:hover {
    transform: scale(1.05); /* Aumenta ligeramente la imagen al pasar el ratón */
}

/* Alineación de las imágenes */
.local-images img:nth-child(1),
.local-images img:nth-child(2) {
    margin-right: 20px; /* Espacio entre las imágenes */
}

.local-images img:nth-child(3),
.local-images img:nth-child(4) {
    margin-left: 20px; /* Espacio entre las imágenes */
}

.local-images img:nth-child(1),
.local-images img:nth-child(3) {
    /* Imágenes a la izquierda */
    align-self: flex-start;
}

.local-images img:nth-child(2),
.local-images img:nth-child(4) {
    /* Imágenes a la derecha */
    align-self: flex-end;
}

.text1local{
    color: white;
}

.map-link {
    margin-top: 20px; /* Espacio superior para el ícono */
    z-index: 3000;
}

.map-icon {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
    box-shadow: #575757;
    box-shadow: 100px;
    border-radius: 5px; /* Bordes redondeados opcional */
    transition: transform 0.3s ease; /* Transición suave */
    z-index: 3000;
}

.map-icon:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
    z-index: 3000;
}

.tenedor {
    position: fixed;
    top: 10px;
    left: -210px; /* Inicia fuera de la pantalla a la izquierda */
    z-index: 3000;
    animation: enter-diagonal 1s ease-in-out forwards; /* Aparece en diagonal */
}

.tenedor-serrucho {
    width: 600px;
    transform: rotate(-190deg); /* Mantén la rotación diagonal */
}

/* Animación de entrada en diagonal de izquierda a derecha */
@keyframes enter-diagonal {
    0% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Inicia desde fuera de la pantalla a la izquierda */
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Termina en su posición final, en diagonal */
    }
}

/* Animación de desaparición en diagonal hacia abajo */
@keyframes exit-diagonal {
    0% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Inicia desde su posición final */
    }
    100% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Termina fuera de la pantalla en diagonal */
    }
}

.hidden {
    display: none;
}

/*======================================================================================*/
/*SECCION LOCAL*/


/*======================================================================================*/
/*SECCION DELIVEY*/
.text1delivery{
    color: white;
}

.cajapizza{
    height: 750px;
    width: 1100px;
    margin-top: -20px;
}

.delivery-message {
    position: fixed;
    top: 50%;
    margin-left: 800px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 500; /* Asegura que el mensaje esté encima de otros elementos */
    opacity: 0; /* Oculto por defecto */
    visibility: hidden; /* Asegura que el mensaje no sea interactivo cuando está oculto */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transiciones suaves */
}

.delivery-message.visible {
    opacity: 1; /* Totalmente visible */
    visibility: visible; /* Asegura que el mensaje sea interactivo cuando está visible */
}


.delivery {
    position: fixed;
    top: 50px;
    left: -50px; /* Inicia fuera de la pantalla a la izquierda */
    z-index: 3000;
    animation: enter-diagonal 1s ease-in-out forwards; /* Aparece en diagonal */
}

.delivery-moto{
    width: 450px;
    transform: rotate(-300deg); /* Mantén la rotación diagonal */
}

/* Animación de entrada en diagonal de izquierda a derecha */
@keyframes enter-diagonal-deli {
    0% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Inicia desde fuera de la pantalla a la izquierda */
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Termina en su posición final, en diagonal */
    }
}

/* Animación de desaparición en diagonal hacia abajo */
@keyframes exit-diagonal-deli {
    0% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Inicia desde su posición final */
    }
    100% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Termina fuera de la pantalla en diagonal */
    }
}

.hidden {
    display: none;
}

/*======================================================================================*/
/*SECCION DELIVEY*/


/*======================================================================================*/
/*SECCION CONTACTO*/
.text1contacto{
    color: white;
    margin-top: 50px;
}


.llamando {
    position: fixed;
    top: 90px;
    left: -130px; /* Inicia fuera de la pantalla a la izquierda */
    z-index: 3000;
    animation: enter-diagonal 1s ease-in-out forwards; /* Aparece en diagonal */
}

.llamando-persona{
    width: 490px;
    transform: rotate(-280deg); /* Mantén la rotación diagonal */
}

/* Animación de entrada en diagonal de izquierda a derecha */
@keyframes enter-diagonal-persona {
    0% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Inicia desde fuera de la pantalla a la izquierda */
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Termina en su posición final, en diagonal */
    }
}

/* Animación de desaparición en diagonal hacia abajo */
@keyframes exit-diagonal-persona {
    0% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-45deg); /* Inicia desde su posición final */
    }
    100% {
        opacity: 0;
        transform: translate(-300px, 300px) rotate(-45deg); /* Termina fuera de la pantalla en diagonal */
    }
}

.hidden {
    display: none;
}



/*======================================================================================*/
/*SECCION CONTACTO*/

/*======================================================================================*/
/*MANTELES*/
/* Manteles en las esquinas */
.mantel {
    position: fixed;
    width: 1px; /* Ajusta el tamaño del mantel según sea necesario */
    height: 1px;
    background-color: red; /* Color rojo para los manteles */
    z-index: 2000; /* Asegura que estén por encima de otros elementos */
    opacity: 1; /* Manteles semi-transparentes */
}

/*======================================================================================*/
